# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE/editor
.vscode/
.idea/

venv/
**pycache**/
*.pyc
db.sqlite3
.env


# OS files
.DS_Store
Thumbs.db

# Node frontend (if you add React/Angular later)
node_modules/
build/
dist/
