.menu-container {
  padding: 20px;
  /* text-align: center; */
}

.menu-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

