.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;

  padding: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}

.navbar button {
  background-color: orange;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}